---
import "@fontsource-variable/inter";
import "~/styles/index.css";
import Header from "~/components/header.astro";
import MainBlock from "~/components/main-block.astro";
import AboutBlock from "~/components/about-block.astro";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "LiftEd - образовательная платформа для учителей и учеников на базе искусственного интеллекта";
---

<!doctype html>
<html lang="ru" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>LiftEd - Образовательная платформа</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="LiftEd" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <MainBlock />
    <AboutBlock />
  </body>
</html>
