---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";


const { generator, site } = Astro;
const image = new URL("social.png", site);
const description =
  "LiftEd - образовательная платформа для учителей и учеников на базе искусственного интеллекта";
---

<!doctype html>
<html lang="ru" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <meta name="generator" content={generator} />

    <title>Политика конфиденциальности - LiftEd</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Политика конфиденциальности - LiftEd" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TVLZ3W87');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVLZ3W87"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    
    <div class="relative max-w-[600px] mx-auto px-4 py-[64px] mt-[110px] sm:mt-[81px] ">
      <div>
        <a href="/" class="flex items-center gap-2">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 15L7.5 10L12.5 5" stroke="#076EFF" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <div class="text-[#076EFF]">Назад</div>
        </a>
      </div>

      <h1 class="text-[34px] leading-[41px] font-semibold text-[#076EFF] mt-6">
        Политика конфиденциальности и обработки персональных данных
      </h1>

      <p class="text-[14px] leading-[21px] text-[#283237] mt-6">
        для пользователей (учителей) платформы LiftEd
        Настоящая политика конфиденциальности и обработки персональных данных регулирует порядок обработки и использования персональных и иных данных Товарищества с ограниченной ответственностью «Центр Педагогических Инноваций A’LEM», зарегистрированного в соответствии с законодательством Республики Казахстан и расположенного по адресу: Республика Казахстан, г. Алматы, ул. Карасай батыра, д. 140, в лице генерального директора Өрісбай Нұрсултан Бахтыбайұлы (далее — Оператор).
        Передавая Оператору персональные и иные данные посредством сайта https://lifted.kz, Пользователь подтверждает свое согласие на использование указанных данных на условиях, изложенных в настоящей Политике конфиденциальности.
        Если Пользователь не согласен с условиями настоящей Политики конфиденциальности, он обязан прекратить использование сайта.
        Безусловным акцептом настоящей Политики конфиденциальности является начало использования Сайта Пользователем.

      </p>
      
      <h4 class="text-[20px] leading-[24px] font-semibold mt-6">1. ТЕРМИНЫ</h4>

      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
          <p>
            1.1. «Сайт» – интернет-ресурс, расположенный по адресу: https://lifted.kz, принадлежащий Оператору и предназначенный для предоставления информации о платформе LiftEd.
          </p>
          <p>1.2. Пользователь — лицо (учитель), использующее Сайт.</p>
          <p>1.3. Законодательство — действующее законодательство Республики Казахстан.</p>
          <p>1.4. Персональные данные — сведения, относящиеся к определенному или определяемому на их основании субъекту персональных данных, зафиксированные на электронном, бумажном и (или) ином материальном носителе.</p>
          <p>1.5. Данные — иные данные о Пользователе (не входящие в понятие Персональных данных).</p>
          <p>1.6. Регистрация — заполнение Пользователем регистрационной формы на Сайте, путем указания необходимых сведений.</p>
          <p>1.7. Регистрационная форма — форма, расположенная на Сайте, которую Пользователь должен заполнить для возможности получения доступа к платформе LiftEd.</p>
          <p>1.8. Услуги — онлайн-обучение, тестирование и иные сервисы, предоставляемые Оператором на основании соглашения.</p>
      </div>
      <h4 class="text-[20px] leading-[24px] font-semibold mt-6">2. СБОР И ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>

      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
        <p>2.1. Оператор собирает и хранит только те Персональные данные, которые необходимы для оказания Услуг и взаимодействия с Пользователем.</p>
        <p>2.2. Персональные данные могут использоваться в следующих целях:</p>
        
        <ul class="list-disc list-inside pl-4">
          <li>
            оказание Услуг Пользователю;
          </li>
          <li>идентификация Пользователя;</li>
          <li>взаимодействие с Пользователем;</li>
          <li>направление уведомлений, рекламных материалов, информации и запросов;</li>
          <li>проведение статистических и иных исследований.</li>
        </ul>
        <p>2.3. Оператор обрабатывает следующие данные:</p>
        <ul class="list-disc list-inside pl-4">
          <li>фамилия, имя;</li>
          <li>номер телефона;</li>
          <li>адрес электронной почты;</li>
          <li>место работы и должность;</li>
          <li>данные для проведения платежей (через Kaspi Bank, банковскую карту).</li>
        </ul>
        <p>2.4. Пользователю запрещается указывать на Сайте персональные данные третьих лиц без их согласия.</p>
        <p>2.5. Пользователь может отказаться от получения сообщений, направив Оператору письмо на адрес электронной почты  info@lifted.kz с пометкой «Отказ от уведомлений».</p>
      </div>
      <h4 class="text-[20px] leading-[24px] font-semibold mt-6">3. ПОРЯДОК ОБРАБОТКИ ПЕРСОНАЛЬНЫХ И ИНЫХ ДАННЫХ</h4>

      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
        <p>3.1. Оператор обязуется использовать Персональные данные в соответствии с Законом Республики Казахстан «О персональных данных и их защите».</p>
        <p>3.2. В отношении Персональных данных сохраняется их конфиденциальность, кроме случаев, когда данные являются общедоступными.</p>
        <p>3.3. Оператор имеет право хранить Персональные данные и Данные на серверах на территории Республики Казахстан.</p>
        <p>3.4. Оператор имеет право передавать Персональные данные Пользователя без согласия Пользователя государственным органам в случаях, предусмотренных законодательством.</p>
        <p>3.5. Оператор имеет право передавать Персональные данные третьим лицам в следующих случаях:</p>
        Пользователь выразил свое согласие;
        передача необходима для оказания Услуг (например, платёжным системам или сервису прокторинга ProctorEdu).
      </div>
      <h4 class="text-[20px] leading-[24px] font-semibold mt-6">4. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>

      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
        <p>
          4.1. Оператор осуществляет надлежащую защиту Персональных данных в соответствии с законодательством и принимает необходимые меры для их защиты.
        </p>
      </div>
      <h4 class="text-[20px] leading-[24px] font-semibold mt-6">5. ИНЫЕ ПОЛОЖЕНИЯ</h4>

      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
        <p>5.1. К настоящей Политике конфиденциальности применяется право Республики Казахстан.</p>
        <p>5.2. Все споры разрешаются по месту регистрации Оператора в соответствии с законодательством.</p>
        <p>5.3. Оператор имеет право изменять Политику конфиденциальности без предварительного согласования с Пользователем. Изменения вступают в силу с момента их размещения на Сайте.</p>
        <p>5.4. Все предложения или вопросы по настоящей Политике направляются по электронной почте: info@lifted.kz</p>
      </div>
      <div class="text-[14px] leading-[21px] text-[#283237] mt-6 flex flex-col gap-2">
        <p>Реквизиты Оператора</p>
        <ul class="list-disc list-inside pl-4">
          <li>ТОО «Центр Педагогических Инноваций A’LEM» (ЦПИ A’LEM)</li>
          <li>БИН: 230740034165</li>
          <li>ИИК: KZ61722S000031975764</li>
          <li>БИК: CASPKZKA</li>
          <li>Банк: АО «Kaspi Bank» (включая оплату через карту)</li>
          <li>Адрес: Республика Казахстан, г. Алматы, ул. Карасай батыра, д. 140</li>
          <li>ФИО руководителя: Өрісбай Нұрсұлтан Бахтыбайұлы, генеральный директор</li>
        </ul>
      </div>  
    </div>
    <Footer />
  </body>
</html>
